@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --yinmn-blue: #3A4A77ff;
  --melon: "rgb(193 139 158)";
  --sky-magenta: #BF7FA7ff;
  --dark-purple: rgb(51, 34, 44);
  --ultra-violet: #5A6491ff;
  /* create a dark mode black color */
  --dark-mode-black: #FBC4BF;
}

body{
  background-color: var(--dark-mode-black);
  color: rgb(47, 45, 45);
  font-family: "Oxanium", sans-serif;
  letter-spacing: 2px;
  /* color: var(--ultra-violet); */
}

.quando{
  font-family: "Quando", "Oxanium", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

.transparent{
  filter: brightness(0) invert(1);
}

